.styleGuide-navLink {
  &.active {
    font-weight: bold;
  }
}

.styleGuide-section {
  display: none;
  &.active {
    display: block;
  }
}

.styleGuide-exampleBox {
  border: 1px solid $gray-light;
}

.styleGuide-exampleBoxHeader {
  background: $gray-lighter;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid $gray-light;
}

.styleGuide-exampleSource {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $gray-light;
  color: $text-color;
}

.styleGuide-examples {
  padding: 0 20px;
}

.styleGuide-example {
  padding-bottom: 20px;
}

.styleGuide-exampleDescription {
  font-weight: normal;
  font-family: $font-family-sans-serif;
  margin-left: 20px;
}
