#styleGuide-toc {
  ul {
    li {
      a {

      }
      ul {
        li {

        }
      }
    }
  }
}
.styleGuide-navLink {
  padding-left: 10px;
  border-left: 4px solid transparent;
  &.active {
    border-left-color: $teal;
  }
}

.styleGuide-section {
  display: none;
  &.active {
    display: block;
  }
}

.styleGuide-exampleBox {
  position: relative;
  border: 1px solid $gray-light;
}

.styleGuide-exampleTitle {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  margin: 0;
  padding: 3px 5px;
  background-color: darken($gray-lighter, 15%);
  color: $gray-lighter;
  border-radius: 0 0 0 4px;
  font-size: 12px;
}

.styleGuide-exampleBoxHeader {
  background: $gray-lighter;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid $gray-light;
}

.styleGuide-exampleSource {
  padding: 20px;
  padding-top: 30px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $gray-light;
  color: $text-color;
}

.styleGuide-examples {
  padding: 0 20px;
}

.styleGuide-example {
  padding-bottom: 20px;
}

.styleGuide-exampleDescription {
  font-weight: normal;
  font-family: $font-family-sans-serif;
  margin-left: 20px;
}
