#subtitle_management {
  .table {
    margin: 20px 0;
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 0;
    }
    tr {
      padding: 10px 0;

      td {
        vertical-align: top;
        padding: 12px 8px;
        &:first-child {
          margin-top: 0;
          margin-bottom: 0;
          width: 25px;
          vertical-align: top;
        }
        &:last-child {
          width: 100%;
          white-space: nowrap;
        }
        &.thumb {
          width: 30%;
          img {
            max-width: 100%;
          }
        }
        .checkbox {
          margin-top: 0;
          margin-bottom: 0;
          input[type="checkbox"] {
            margin: 0;
          }
        }
      }
    }
  }

  .iconActions {
    padding: 5px 0;
    a {
      padding-right:20px;
      i {
        font-size: 20px;
        color: $gray;
      }
    }
  }
}

// .action-bar {
//   padding: 30px 0;
//   text-align: center;
//   background: $gray-light;
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   z-index: 10;
//   .btn, a {
//     margin-left: 20px;
//     margin-right: 20px;
//   }
// }
// .btn-transparent {
//   background: transparent;
//   border: 1px solid $plum;
//   color: $plum;
// }
// .btn-no-border {
//   background: transparent;
//   border: none;
//   color: $text-color;
// }





// .popover.top {
//   background-color: $gray;
//   .popover-title, .popover-content {
//     background: $gray;
//     border: none;
//     border-radius: 2px;
//     color: #fff;
//   }
//   .popover-title {
//     padding: 3px 3px 0 3px; 
//   }
//   .popover-content {
//     padding: 0 3px 3px 3px;
//   }
//   .arrow {
//     &:after {
//       border-top-color: $gray;
//     }
//   }
// }
// .sub-edit-modal {
//   .modal-dialog {
//     width: 400px;
//     color: $gray;
//   }
//   .modal-header {
//     border-bottom: 0;
//     text-align: left;
//     padding: 10px;
//     h4 {
//       text-align: left;
//       font-weight: bold;
//       font-size: 15px;
//     }
//     .close {
//       font-weight: 300;
//       position: absolute;
//       top: 5px;
//       right: 7px;
//       font-size: 23px;
//     }
//   }
//   .modal-title {}
//   .modal-body {
//     padding: 10px;
//   }
//   .modal-content {
//     background: $gray-lighter;
//     padding: 10px;
//   }
//   .modal-footer {
//     border-top: 0;
//   }
//   .searchbar {
//     &:after {
//       display: none;
//     }
//     .add, .remove {
//       @extend .close;
//       position: absolute;
//       top: 8px;
//       right: 8px;
//       z-index: 10;
//       font-weight: normal;
//       display: none;
//     }
//     .add, .remove {
//       &.active {
//         display: block;
//       }
//     }
//   }
//   p {
//     margin-bottom: 0;
//   }
//   .btn {
//     padding: 7px 12px;
//   }
//   .btn-no-border {
//     color: $plum;
//   }
//   input, .easy-autocomplete-input {
//     margin: 7px 0;
//   }
//   ::-webkit-input-placeholder {
//      color: $gray-light;
//   }
//   :-moz-placeholder { /* Firefox 18- */
//      color: $gray-light;  
//   }
//   ::-moz-placeholder {  /* Firefox 19+ */
//      color: $gray-light;  
//   }
//   :-ms-input-placeholder {  
//      color: $gray-light;  
//   }
// }


