.select2-container--bootstrap {
  &.select2-container {
    .select2-selection {
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: 14px;
    }
    .select2-dropdown {
      border: 1px solid $gray-lighter;
      background-color: #fff;
      color: $gray-darker;
    }
    .select2-results__option {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
    }
    .select2-results__option[aria-selected=true] {
      border-left-color: $teal;
      background-color: transparent;
      color: $gray-darker;
      cursor: default;
    }
    .select2-results__option--highlighted {
      background-color: $teal;
    }
    .select2-selection--single {
      padding: 0;
      height: 22px;
      .select2-selection__rendered {
        display:inline-block;
        color: #555555;
        &:after {
         content: "\e901";
         display: inline-block;
         margin-left: 5px;
         position: relative;
         // top: -5px;
         font-family: 'amara' !important;
         speak: none;
         transform: rotate(90deg);
         @include transition();
         pointer-events: none;
       }
      }
    }
  }
  .select2-results__group {
    font-size: 14px;
    font-weight: 400;
    background-color: $gray-lighter;
    color: $gray-darker;
  }


  .select2-selection__arrow {
   display: none;
  }
  .select2-container--open {
    .select2-dropdown--below {
      border-radius: 0;
    }
  }
  .select2-search--dropdown {
    .select2-search__field {
      border-radius: 0;
      box-shadow: none;
      border: none;
      border-bottom: 1px solid $gray-light;
    }
  }
}

