// Avatars

.avatar {
  width: 30px;
  // max-width: 100%;
  height: auto;
  &.avatar-md {
    width: 50px;
    margin: 0 10px 0 0;
  }
  &.avatar-lg {
    width: 60px;
    margin: 0 10px 0 0;
  }
  &.avatar-xl {
    width: 110px;
  }
}