// Avatars
//
// Example:
// <img src="media/images/styleguide/fpo_avatar.png" class="avatar">
// <p>Standard Size: 30x30</p>
// <img src="media/images/styleguide/fpo_avatar.png" class="avatar avatar-md">
// <p>Medium Size: 50x50</p>
// <img src="media/images/styleguide/fpo_avatar.png" class="avatar avatar-lg">
// <p>Large Size: 60x60</p>
// <img src="media/images/styleguide/fpo_avatar.png" class="avatar avatar-xl">
// <p>X-Large Size: 110x110</p>
//
// Styleguide avatars

.avatar {
  width: 30px;
  height: auto;
  &.avatar-md {
    width: 50px;
    margin: 0 10px 0 0;
  }
  &.avatar-lg {
    width: 60px;
    margin: 0 10px 0 0;
  }
  &.avatar-xl {
    width: 110px;
  }
}