// Baseline Modal
// 
// This example includes both a title and sub-title wrapped in the modal header.
//
// Example:
// <!-- Trigger -->
// <button type="button" class="button cta" data-toggle="modal" data-target="#modal_baseline">
//   Launch baseline example
// </button>
// 
// <!-- Modal -->
// <div id="modal_baseline" class="modal fade">
//   <div class="modal-dialog modal-md">
//     <div class="modal-content">
//       <button type="button" class="dialogButton-closeModal" data-dismiss="modal">
//         <span>&times;</span>
//       </button>
//       <header class="dialogHeader">
//         <h4 class="dialogTitle">Modal Title</h4>
//         <h5 class="dialogSubTitle">Modal Subtitle</h5>
//       </header>
//       <form>
//         <div class="form-group">
//           <label>Field Name</label>
//           <input type="text" placeholder="Field">
//         </div>
//         <div class="text-right">
//           <button class="button borderless" data-dismiss="modal">Cancel</a>
//           <button class="button cta" type="submit">Save</button>
//         </div>
//       </form>
//     </div>
//   </div>
// </div>
//
// Styleguide modalbaseline

// Confirmation Dialog
//
// Example:
// 
// <!-- Trigger -->
// <button type="button" class="button cta" data-toggle="modal" data-target="#dialog_confirmation">
//   Launch confirmation example
// </button>
// 
// <!-- Modal / Dialog -->
// <div id="dialog_confirmation" class="modal fade">
//   <div class="modal-dialog modal-sm">
//     <div class="modal-content">
//       <button type="button" class="dialogButton-closeModal" data-dismiss="modal">
//         <span>&times;</span>
//       </button>
//       <div class="dialogHeader text-center">
//         <h4 class="dialogTitle">Are you sure that you want to delete selected subtitle videos?</h4>
//       </div>
//       <form class="text-center">
//         <div class="checkbox">
//           <input id="" type="checkbox" value="">
//           <label for=""><span></span>Include all XX filtered videos</label>
//         </div>
//         <button class="button cta" type="submit">Delete</button>
//         <button class="button cta-reverse" data-dismiss="modal">Cancel</a>
//       </form>
//     </div>
//   </div>
// </div>
//
// Styleguide dialogconfirmation


.modal-dialog {
  &.modal-sm { width: 300px; }
  &.modal-md { width: 500px; }
  &.modal-lg {}
  .modal-content {
    position: relative;
    padding: 20px;
    background-color: $gray-lighter;
    // TODO - remove form specific styles from here. These should be refadtored and added to other stylesheets
    form {
      margin-bottom: 0;
      label {
        font-size: 12px;
        color: $gray;
      }
      .checkbox {
        margin-bottom: 10px;
        font-size: 12px;
        label { color: $gray-darker; }
      }
      .select {
        padding: 5px 16px;
        margin-bottom: 10px;
        background: #ffffff;
        border: 1px solid $gray-light;
        border-radius: 4px;
        color: $gray-light;
        &:after { display: none; }
        .select2-selection__rendered { display: block; color: $gray; }
        .select2-selection__rendered:after { float: right; color: $gray-light; }
      }
    }
  }
  .dialogHeader {
    margin-bottom: 10px;
    padding-bottom: 0;
  }
  .dialogTitle {
    font-family: $font-family-sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 5px;
    color: $gray-base;
  }
  .dialogSubTitle {
    font-family: $font-family-sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1em;
    color: $gray-dark;
  }

  .dialogButton-closeModal {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 24px;
    font-weight: 400;
    color: $gray-darker;
    opacity: 0.2;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
  }
}


