

.users {
  height: 275px;
  padding: 5px;
  border-radius: $border-radius-base;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
}

.userList {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.userList-user {
  display: table-row;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
}

.user-avatar,
.user-name,
.user-email {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
  text-align: left;
  &:first-child {
    width: 40px;
  }
  &:last-child {
    width: 40px;
  }
  i {
    font-size: 22px;
    margin-right: 10px;
  }
}

.avatar {
  width: 30px;
}

