// Layout


.col2 {
  column-count: 2;
  column-gap: 0;
  li {
    page-break-inside: avoid;
  }
}

.col3 {
  column-count: 3;
  column-gap: 0;
  li {
    page-break-inside: avoid;
  }
}

.total {
  font-family: $font-family-sans-serif;
}

.inprogress {
  display: inline-block;
  opacity: 0.5;
}
.completed {
  display: inline-block;
  opacity: 1;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Text
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.text-gray-base { color: $gray-base; }
.text-gray-darker { color: $gray-darker; }
.text-gray-dark { color: $gray-dark; }
.text-gray { color: $gray; }
.text-gray-light { color: $gray-light; }
.text-gray-lighter { color: $gray-lighter; }

.text-plum { color: $plum; }
.text-teal { color: $teal; }