// Layout
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between; 
}

.col2 {
  column-count: 2;
  column-gap: 0;
  li {
    page-break-inside: avoid;
  }
}

.col3 {
  column-count: 3;
  column-gap: 0;
  li {
    page-break-inside: avoid;
  }
}

.total {
  font-family: $font-family-sans-serif;
}

.avatar {
  width: 30px;
}

.inprogress {
  display: inline-block;
  opacity: 0.5;
}
.completed {
  display: inline-block;
  opacity: 1;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: right !important;
}