// Color palette
// 
// TODO - Show thumbnails of color palette
// 
// <h3><em>Color Do’s</em></h3>
// <ul>
//  <li>Headers and copy use Dark Grey, #222626</li>
//  <li>For all linkable text, use Turquoise, #3da285</li>
//  <li>For Primary CTAs, use Plum, #632e50</li>
//  <li>Secondary Buttons use Teal #1d806a</li>
// </ul>
// <h3><em>Color Dont’s</em></h3>
// TBD
// 
// Styleguide palette

/* -----------------------------------------
   Variables
----------------------------------------- */

$gray-base:              #222626; // 
$gray-darker:            #393839; // #4c4c4d
$gray-dark:              #7e7f80; //
$gray:                   #9fa0a1; // #979899
$gray-light:             #d9d9d9; //
$gray-lighter:           #F3F4F6; // #f0f1f2


$teal:              #1d806a;
$magenta:           #e61972;
$turquoise:         #3da285;
$plum:              #632e50;
$lime-dark:         #77a841;



$text-color:            $gray-base;
$hr-border:             $gray-light;

// typography
$font-size-base:          14px;
$font-family-sans-serif:  'Open Sans', sans-serif;
$headings-font-family:    'Raleway', sans-serif;
$headings-font-weight:    300;
$headings-color:          inherit;

$font-size-h1:            22px;
$font-size-h2:            22px;
$font-size-h3:            16px;
$font-size-h4:            14px;
$font-size-h5:            $font-size-base;
$font-size-h6:            15px;



$border-radius-base:        4px;
$input-border-radius:       none;



// Amara Variables
$base-line-height:        32px;