{% load i18n media_bundle assets %}
{% load url from future %}
<nav class="accessnav">
  <ul>
    <li{% if nav == "volunteer" %} class="active"{% endif %}>
      <a class="bg-plum" href="/{{ LANGUAGE_CODE}}/sitemap/">{% trans "Sitemap" %}</a>
    </li>
    {% if not no_language_switcher %}
    <li>
      <a class="ajaxLink bg-gray-lighter" data-href="/ui/language-select/">
        <img width="16" height="16" src="{% asset "img/language-switch-globe.svg"  %}"/>
        {% current_language_name %}
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
