{% load i18n %}
{% load url from future %}
<div id="mainnav" role="navigation">
  <div class="container">
    <a class="brand" href="{% url "home" %}">
      <img src="{{ STATIC_URL }}assets/img/amara_wordmark_plum.svg" height="50" class="img-responsive logo" alt="{% trans "Amara" %}">
    </a>
    {% include "future/navigation/primarynav.html" %}
    {% if request.user.is_anonymous %}
    <a class="primary-cta" href="{% url "videos:create" %}">{% trans "Start Subtitling<span>For Free</span>" %}</a>
    {% endif %}
  </div>
</div>
