{% load i18n %}
{% load url from future %}
<nav id="mobilenav" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsible-menu">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "home" %}">
        <img src="{{ STATIC_URL }}assets/img/amara_wordmark_plum.svg" height="50" class="img-responsive logo" alt="{% trans "Amara" %}">
      </a>
    </div>
    <div id="collapsible-menu" class="collapse">
      <div class="top-buttons">
        <a href="{% url "videos:create" %}" class="button button-lime">{% trans "Start Subtitling<span>For Free</span>" %}</a>
      </div>

      {% include "future/navigation/primarynav.html" %}
      <nav class="appnav">
        <ul class="nav">
          <li>
            <a href="{% url "videos:watch_page" %}">{% trans "Watch Videos" %}</a>
          </li>
        </ul>
      </nav>

      {% include "future/navigation/accessnav.html" %}
    </div>
</nav>
