{% load i18n forms %}
<div class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="dialogHeader text-center">
        <h4 class="dialogTitle">{% trans "Are you sure that you want to deny the selected applications?" %}</h4>
      </div>
      <form class="ajaxForm text-center" method="POST" action="{{ request.get_full_path }}" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="button cta-reverse" data-dismiss="modal">Cancel</button>
        <button class="button cta" type="submit" value="deny">Deny</button>
      </form>
    </div>
  </div>
</div>
