{% load i18n teams_tags %}
{% load url from future %}
<header id="page-header">
  {% include "future/navigation/topnav.html" %}
  <div id="mainnav" role="navigation">
    <div class="container">
      <a class="brand" href="{{ team.get_absolute_url }}">
          {% if team.square_logo_thumbnail_medium %}<img src="{{ team.square_logo_thumbnail_medium }}" /> {% endif %}{{ team }}
      </a>
      <nav class="primarynav">
        <ul>
          <li{% if team_nav == "dashboard" %} class="active"{% endif %}><a href="{% url "teams:dashboard" team.slug %}">{% trans "Dashboard" %}</a></li>
          <li{% if team_nav == "videos" %} class="active"{% endif %}><a href="{{ team|team_video_page_default:request }}">{% trans "Videos" %}</a></li>
          <li{% if team_nav == "member_directory" %} class="active"{% endif %}><a href="{% url "teams:members" team.slug %}">{% trans "Members" %}</a></li>
          <li{% if team_nav == "activity" %} class="active"{% endif %}><a href="{% url "teams:activity" team.slug %}">{% trans "Activity" %}</a></li>
          {% if team|can_view_management_tab:request.user %}
          <li{% if team_nav == "management" %} class="active"{% endif %}><a href="{{ team|management_page_default:request }}">{% trans "Management" %}</a></li>
          {% endif %}
          {% if team|can_view_settings_tab:user %}
          <li{% if team_nav == "settings" %} class="active"{% endif %}><a href="{% url "teams:settings_basic" slug=team.slug %}">{% trans "Settings" %}</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
</div>
</header>
