{% extends "future/teams/videos/base.html" %}
{% load i18n %}
{% load url from future %}
{% block tabs %}
{% if extra_tabs %}
<ul class="nav nav-tabs">
  <li{% if current_tab == "videos" %} class="active"{% endif %}><a href="{% url "teams:manage_videos" team.slug %}">{% trans "Videos" %}</a></li>
  {% for tab in extra_tabs %}
  <li{% if current_tab == tab.name %} class="active"{% endif %}><a href="{{ tab.url }}">{{ tab.label }}</a></li>
  {% endfor %}
</ul>
{% else %}
<h1>{% trans "Videos" %}</h1>
{% endif %}
{% endblock %}
