{% extends "future/teams/management/base.html" %}
{% load i18n forms %}
{% load url from future %}

{% block filters %}
<form method="GET" action="" class="ajaxForm updateOnChange updateLocation">
  {{ filters_form.q.as_hidden }}
  {{ filters_form.sort.as_hidden }}
  {{ filters_form.language|render_filter_field }}
  {{ filters_form.completed_subtitles|render_filter_field }}
  {{ filters_form.needs_subtitles|render_filter_field }}
  {% if filters_form.fields.project.enabled %}
  {{ filters_form.project|render_filter_field }}
  {% endif %}
  {{ filters_form.duration|render_filter_field }}
</form>
{% endblock %}

{% block filters2 %}
<div class="row">
  <div class="col-xs-8 proxyField deferUpdate" data-proxy-for="#id_filters_q">
    {{ filters_form.q|render_field }}
  </div>
  <div class="col-xs-4 proxyField" data-proxy-for="#id_filters_sort">
    {{ filters_form.sort|render_field }}
  </div>
</div>
{% endblock %}

{% block videos %}
<nav class="nav-actions">
  {% if enable_add_form %}
  <div class="pull-right">
    <a class="ajaxLink" href="?form=add-video">{% trans "Add video" %}</a>
  </div>
  {% endif %}
  <div class="checkbox">
    <input id="selectAll" type="checkbox" value="" class="selectAll" data-field="videos">
    <label for="selectAll" class="text-gray"><span></span> {% trans "Select all" %}</label>
  </div>
</nav>
<div id="video-list">{% include "future/teams/management/video-list.html" %}</div>
{% endblock %}

{% block bottom %}
{% if manage_forms %}
<div id="manage-actions" class="actionBar">
  <form class="ajaxForm copyQuery" method="GET" action="{{ request.path }}">
    <input class="selectList-selection" type="hidden" name="selection">
    {% for name, css_class, label in manage_forms %}
    <button class="button {{ css_class }}" type="submit" name="form" value="{{ name }}">{{ label }}</button>
    {% endfor %}
    <button class="button inline deselectAll" data-field="videos">{% trans "Deselect" %}</button>
  </form>
</div>
{% endif %}
{% endblock %}
