<div class="content content-right">
  {% if completed_languages %}
  <h1>{% blocktrans with count=completed_languages|length %}Completed subtitles (<span class="total">{{ count }}</span>){% endblocktrans %}</h1>
  <hr/>
  <ul class="nav nav-stacked">
    {% for subtitle_language in completed_languages %}
    <li>
      <h6><a href="{{ subtitle_language.get_absolute_url }}{{ QUERY_STRING }}">{{ subtitle_language.get_language_code_display }}</a></h6>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
