{% load i18n %}
{% with complete_languages=video.complete_languages incomplete_languages=video.incomplete_languages %}
{% if complete_languages %}
<div class="content">
  <h1>{% blocktrans with count=complete_languages|length %}Completed subtitles (<span class="total">{{ count }}</span>){% endblocktrans %}</h1>
  <hr/>
  {% include "future/videos/video-subtitles-list.html" with subtitles=complete_languages id="complete-subtitles" %}
</div>
{% endif %}
{% if incomplete_languages %}
<div class="content">
  <h1>{% blocktrans with count=incomplete_languages|length %}Incomplete subtitles (<span class="total">{{ count }}</span>){% endblocktrans %}</h1>
  <hr/>
  {% include "future/videos/video-subtitles-list.html" with subtitles=incomplete_languages id="incomplete-subtitles" %}
</div>
{% endif %}
{% endwith %}
