{% load form_helpers %}
{% if field.is_hidden %}
{{ field }}
{% elif field|is_radio_select %}
<ul>
  {% for value, label in field.field.choices %}
  <li>
    <div class="radio">
      <input type="radio" id="{{ field.auto_id }}-{{ forloop.counter0 }}" name="{{ field.name }}" value="{{ value }}"{% if field.value == value %} checked{% endif %}>
      <label for="{{ field.auto_id }}-{{ forloop.counter0 }}"><span></span>{{ label }}</label>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<div{% if field.errors %} class="has-error"{% endif %}>
  {% if field|is_checkbox %}
  <label>{{ field }}{{ field.label }}</label>
  {% else %}
  {{ field.label_tag}}
  {{ field }}
  {% endif %}

  {% include "_error-list.html" with errors=field.errors %}
  {% if field.help_text %}
  <p class="help-block">{{ field.help_text }}</p>
  {% endif %}
</div>
{% endif %}
