{% load i18n media_bundle announcement_tags messages_tags %}
{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Amara - {% trans 'Caption, translate, subtitle and transcribe video.' %}{% endblock %}</title>
    {% media_bundle "amara.css" %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    {% media_bundle "amara.js" %}
    {% js_i18n_catalog %}
    {% js_language_data %}
    {% block head-extra %}{% endblock %}
    <script>var userLanguages = [{% for language in user.get_languages %}"{{language }}"{% if not forloop.last %},{% endif %}{% endfor %}];</script>
  </head>
  <body{% block body-extra %}{% endblock %}>
    {% block header %}{% include "future/header.html" %}{% endblock %}
    <main id="page-content">
      {% if messages %}
      <div id="messages" class="container">
        <div class="content">
          {% for message in messages %}
              <div class="alert alert-dismissible{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message|safe }}
              </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </main>
    {% block footer %}{% include "future/footer.html" %}{% endblock %}
    {% if user.is_staff %}
    <div id="staff-controls" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="dialogHeader">
            <h4 class="dialogTitle">{% trans "Staff Controls" %}</h4>
          </div>
          <ul>
            <li><a target="_blank" href="{% url "staff:index" %}">{% trans 'Dashboard' %}</a></li>
            <li><a target="_blank" href="{% url "admin:index" %}">{% trans 'Site Admin' %}</a></li>
            <li><a href="//github.com/pculture/unisubs/commit/{{ LAST_COMMIT_GUID }}" title="{{ LAST_COMMIT_GUID }}">Github</a></li>
            {% if user.is_superuser %}
            <li><a target="_blank" href="{% url "auth:login_trap" %}">{% trans 'Impersonate' %}</a></li>
            <li><a target="_blank" href="{% url "billing" %}">{% trans 'Billing' %}</a></li>
            {% endif %}
            {% block page-controls %}{% endblock %}
          </ul>
          <div class="modal-footer">
            <button type="button" class="button" data-dismiss="modal">{% trans "Close" %}</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% block bottom %}{% endblock %}
  </body>
</html>
