{% load i18n media_bundle announcement_tags messages_tags %}
{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Amara - {% trans 'Caption, translate, subtitle and transcribe video.' %}{% endblock %}</title>
    {% media_bundle "amara.css" %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    {% media_bundle "amara.js" %}
    {% js_i18n_catalog %}
    {% js_language_data %}
    {% block head-extra %}{% endblock %}
    <script>var userLanguages = [{% for language in user.get_languages %}"{{language }}"{% if not forloop.last %},{% endif %}{% endfor %}];</script>
  </head>
  <body{% block body-extra %}{% endblock %}>
    {% block header %}{% include "future/header.html" %}{% endblock %}
    <main id="page-content">
      {% if messages %}
      <div id="messages" class="container">
        <div class="content">
          {% for message in messages %}
              <div class="alert alert-dismissible{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message|safe }}
              </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </main>
    <div class="pageFooter">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <div class="content">
              <p>
                <img src="{{ STATIC_URL }}images/amara-logotype.png" alt="Amara logo" />
              </p>
              <p class="footerNav">
                <a href="//about.amara.org/tos/">{% trans "Terms" %}</a>
                <a href="//pculture.org/pcf/websites-privacy/">{% trans "Privacy" %}</a>
                <a href="//amara.org/security">{% trans "Security" %}</a>
              </p>
            </div>
          </div>
          <nav class="col-xs-12 col-sm-5">
            <div class="row start-xs">
            {% if not user.is_staff %}
              <ul class="col-xs-4">
                <li><strong>{% trans "Amara" %}</strong></li>
                <li><a href="//about.amara.org/">{% trans "Blog" %}</a></li>
                <li><a href="//support.amara.org/solution/categories/13504">{% trans "Help" %}</a></li>
                <li><a href="//support.amara.org/support/solutions/articles/35517--i-have-a-non-technical-question-about">{% trans "Contact" %}</a></li>
              </ul>
              <ul class="col-xs-4">
                <li><strong>{% trans "Videos" %}</strong></li>
                <li><a href="//amara.org/search/#/?q=">{% trans "Search" %}</a></li>
                <li><a href="//amara.org/videos/watch/">{% trans "Browse" %}</a></li>
                <li><a href="//amara.org/videos/watch/featured/">{% trans "Featured" %}</a></li>
              </ul>
              <ul class="col-xs-4">
                <li><strong>{% trans "More" %}</strong></li>
                <li><a href="//twitter.com/AmaraSubs/">{% trans "Twitter" %}</a></li>
                <li><a href="//facebook.com/Amara.Community">{% trans "Facebook" %}</a></li>
              </ul>
              {% else %}
              <ul class="col-xs-2">
                <li><strong>{% trans "Amara" %}</strong></li>
                <li><a href="//about.amara.org/">{% trans "Blog" %}</a></li>
                <li><a href="//support.amara.org/solution/categories/13504">{% trans "Help" %}</a></li>
                <li><a href="//support.amara.org/support/solutions/articles/35517--i-have-a-non-technical-question-about">{% trans "Contact" %}</a></li>
              </ul>
              <ul class="col-xs-2">
                <li><strong>{% trans "Videos" %}</strong></li>
                <li><a href="//amara.org/search/#/?q=">{% trans "Search" %}</a></li>
                <li><a href="//amara.org/videos/watch/">{% trans "Browse" %}</a></li>
                <li><a href="//amara.org/videos/watch/featured/">{% trans "Featured" %}</a></li>
              </ul>
              <ul class="col-xs-2">
                <li><strong>{% trans "More" %}</strong></li>
                <li><a href="//twitter.com/AmaraSubs/">{% trans "Twitter" %}</a></li>
                <li><a href="//facebook.com/Amara.Community">{% trans "Facebook" %}</a></li>
              </ul>
              <ul class="col-xs-6">
                <li><strong>{% trans 'Staff' %}</strong></li>
                <li><a target="_blank" href="{% url "staff:index" %}">{% trans 'Dashboard' %}</a></li>
                <li><a target="_blank" href="{% url "admin:index" %}">{% trans 'Site Admin' %}</a></li>
                <li><a href="//github.com/pculture/unisubs/commit/{{ LAST_COMMIT_GUID }}" title="{{ LAST_COMMIT_GUID }}">Github</a></li>
                {% if user.is_superuser %}
                <li><a target="_blank" href="{% url "auth:login_trap" %}">{% trans 'Impersonate' %}</a></li>
                <li><a target="_blank" href="{% url "billing" %}">{% trans 'Billing' %}</a></li>
                {% endif %}
                {% block page-controls %}{% endblock %}
              </ul>
              {% endif %}
            </div>
          </nav>
        </div>
      </div>
    </div>
    {% block bottom %}{% endblock %}
  </body>
</html>
