{% load i18n %}
<div class="pageFooter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="content">
          <p>
            <img src="{{ STATIC_URL }}images/amara-logotype.png" alt="Amara logo" />
          </p>
          <p class="footerNav">
            <a href="//about.amara.org/tos/">{% trans "Terms" %}</a>
            <a href="//pculture.org/pcf/websites-privacy/">{% trans "Privacy" %}</a>
            <a href="//amara.org/security">{% trans "Security" %}</a>
          </p>
        </div>
      </div>
      <nav class="col-xs-12 col-sm-4">
        <div class="row start-xs">
          <ul class="col-xs-4">
            <li><strong>{% trans "Amara" %}</strong></li>
            <li><a href="//about.amara.org/">{% trans "Blog" %}</a></li>
            <li><a href="//support.amara.org/solution/categories/13504">{% trans "Help" %}</a></li>
            <li><a href="//support.amara.org/support/solutions/articles/35517--i-have-a-non-technical-question-about">{% trans "Contact" %}</a></li>
          </ul>
          <ul class="col-xs-4">
            <li><strong>{% trans "Videos" %}</strong></li>
            <li><a href="//amara.org/search/#/?q=">{% trans "Search" %}</a></li>
            <li><a href="//amara.org/videos/watch/">{% trans "Browse" %}</a></li>
            <li><a href="//amara.org/videos/watch/featured/">{% trans "Featured" %}</a></li>
          </ul>
          <ul class="col-xs-4">
            <li><strong>{% trans "More" %}</strong></li>
            <li><a href="//twitter.com/AmaraSubs/">{% trans "Twitter" %}</a></li>
            <li><a href="//facebook.com/Amara.Community">{% trans "Facebook" %}</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
