{% load i18n %}
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="dialogHeader">
        <h4 class="dialogTitle">{% trans "Select your language" %}</h4>
      </div>
      <form class="languageSwitcher">
        <div class="form-group searchbar searchbarFilter" data-target="languageChoice">
          <label class="sr-only">{% trans "Search languages" %}</label>
          <input id="languageSearchBar" class="languageSwitcher_searchBar" type="text" placeholder="{% trans "Search languages"%}">
        </div>
        <ul class="languageSwitcher_list col3 filteredList">
          {% for url, name in languages %}
          <li><a href="{{url}}">{{name}}</a></li>
          {% endfor %}
        </ul>
        <div class="text-right">
          <button class="button cta-reverse" data-dismiss="modal">{% trans "Cancel" %}</a>
        </div>
      </form>
    </div>
  </div>
