<nav class="text-center">
  {% if paginator.num_pages > 1 %}
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&#xab;</span>
      </a>
    </li>
    {% for number, url in page.nearest_page_links %}
    <li{% if number == page.number %} class="active"{% endif %}><a href="{{ url }}">{{ number }}</a></li>
    {% endfor %}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&#xbb;</span>
      </a>
    </li>
  </ul>
  </p>{{ page.start_index }}-{{ page.end_index }} out of {{ paginator.count }}</p>
  {% else %}
  </p>{{ page.object_list|length }} out of {{ paginator.count }}</p>
  {% endif %}
</nav>
