// Navigation

.nav-table {
  display: table;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  width: 100%;
  li {
    display: table-row;
    &:hover {
      background-color: rgba(0,0,0,.05);
      cursor: pointer;
    }
    .td {
      display: table-cell;
      vertical-align: middle;
      padding: 8px;
    }
    a {
      color: $gray-base;
      padding: 0;
    }
  }
}

.nav-stacked {
  padding-left: 10px;
  li {
    position: relative;
    &:after {
      position: absolute;
      display: block;
      right: 30px;
      top: 0;
      content: "\e901";
      font-family: 'amara';
      font-size: 17px;
      color: $turquoise;
    }
  }
  h1,h2,h3,h4,h5,h6 {
    a {
      color: $text-color;
      &:hover, &:focus, &:active {
        color: $turquoise;
      }
    }
  }
}

.nav-icons {
  a {
    padding:5px 20px 5px 0;
    i {
      font-size: 20px;
      color: $gray;
    }
  }
}

.navIcons {
  .navIcons-item {
    padding:5px 20px 5px 0;
    i {
      font-size: 20px;
      color: $gray;
    }
  }
}

.nav-actions {
  position: relative;
  padding: 10px 0;
  margin-bottom: 10px;
  button {
    margin-left: 15px;
  }
}

.pagination {
  li {
    a {
      color: $text-color;
      padding: 5px 12px;
    }
    &.active {
      a, span {
        color: #fff;
        background-color: $teal;
        &:hover, &:focus {
          color: #fff;
          background-color: $teal;
        }
      }
    }
  }
}


@media(max-width: 767px) {
  .nav-actions {
    .pull-right {
      float: none !important;
      display: block;
    }
  }
}
