// Selects
//
// selects are often used to select a language.  Use the `data-language-options` attribute to populate the list with language data.  The possibilities
// are:
//
//   - `any` -- Any language option
//   - `my` -- My languages section
//   - `popular` -- Popular languages section
//   - `all` -- All languages section
//
// By default, we display a searchbox if there are more than 8 options.  Use the nosearchbox if you want to force it to always be disabled.
//
// Normally the width is auto-selected to be 100%.  However, this doesn't always work.  If it doesn't work (like in this styleguide), add an
// inline style for 100% width.
//
// Use the data-ajax attribute to load the data from an ajax call.
//
// Use the data-extra attribute to display extra options in addition to the AJAX results.  It inputs a JSON array of [value, label] pairs.
//
// Use the data-flat attribute to make the list flat -- without optgroups.
// 
// Example:
//   <select class="select" name="" id="" placeholder="Select an option">
//     <option>Option 1</option>
//     <option>Option 2</option>
//     <option>Option 3</option>
//     <option>Option 4</option>
//   </select>
//
// Example:
//   <select class="select" name="" id="" placeholder="Select an option" disabled>
//     <option selected>Option 1</option>
//     <option>Option 2</option>
//     <option>Option 3</option>
//     <option>Option 4</option>
//   </select>
// 
// Example:
//   <select class="select border" name="" id="" placeholder="+ add option">
//     <option>Option 1</option>
//     <option>Option 2</option>
//     <option>Option 3</option>
//     <option>Option 4</option>
//   </select>
// 
// Example:
//   <select class="select" name="" id="" placeholder="+ Add option" multiple="multiple">
//     <option>Option 1</option>
//     <option>Option 2</option>
//     <option>Option 3</option>
//     <option>Option 4</option>
//   </select>
// 
// Example:
//   <select class="select" name="" id="" placeholder="Option Groups">
//     <option>In progress</option>
//     <option>Complete</option>
//     <optgroup label="Available">
//       <option>Option 1</option>
//       <option>Option 2</option>
//       <option>Option 3</option>
//       <option>Option 4</option>
//     </optgroup>
//     <optgroup label="Assigned">
//       <option>Option 1</option>
//       <option>Option 2</option>
//       <option>Option 3</option>
//       <option>Option 4</option>
//     </optgroup>
//   </select>
// 
// Example:
//   <select name="" id="" class="select" data-ajax="member-search" placeholder="Search members"></select>
//
// Example:
//   <select name="" id="" class="select" data-ajax="member-search" data-extra-options='[["extra1", "Extra option"], ["extra2","Extra option #2"]]' placeholder="Search members"></select>
//
// Example:
//   <select name="" id="" class="select" data-language-options="popular any" placeholder="Select Language"></select>
//
// Styleguide selects


.select {
  // width: 100%;
  opacity: 0;
  visibility: hidden;
}
.select2-container {
  position: relative;
  padding: 5px 10px 6px 0px;
  &.border {
      padding: 9px 10px 6px 10px;
      border-radius: 4px;
      border: 1px solid lighten($gray, 15%);

      .select2-selection__rendered:after {
          content: "\e901";
          display: inline-block;
          margin-left: 5px;
          position: absolute;
          top: 9px; right: 10px;
          font-family: 'amara' !important;
          speak: none;
          transform: rotate(90deg);
          @include transition();
          pointer-events: none;

      }
  }

  &.multiple, &.searchbar {
      .select2-selection__rendered:after { display: none; }
  }
}
