// Selects
//
// selects are often used to select a language.  Use the `data-language-options` attribute to populate the list with language data.  The possibilities
// are:
//
//   - `any` -- Any language option
//   - `my` -- My languages section
//   - `popular` -- Popular languages section
//   - `all` -- All languages section
//
// By default, we display a searchbox if there are more than 8 options.  Use the nosearchbox if you want to force it to always be disabled.
//
// Normally the width is auto-selected to be 100%.  However, this doesn't always work.  If it doesn't work (like in this styleguide), add an
// inline style for 100% width.
// 
// Example:
// <div class="selectWrapper">
//   <select class="select" name="" id="" placeholder="Select an option">
//     <option>Option 1</option>
//     <option>Option 2</option>
//     <option>Option 3</option>
//     <option>Option 4</option>
//   </select>
// </div>
//
// Example:
// <div class="selectWrapper">
//   <select class="select" name="" id="" placeholder="Select an option" disabled>
//     <option selected>Option 1</option>
//     <option>Option 2</option>
//     <option>Option 3</option>
//     <option>Option 4</option>
//   </select>
// </div>
// 
// Example:
// <div class="selectWrapper-border">
//   <select class="select" name="" id="" placeholder="+ add option">
//     <option>Option 1</option>
//     <option>Option 2</option>
//     <option>Option 3</option>
//     <option>Option 4</option>
//   </select>
// </div>
// 
// Example:
// <div class="selectWrapper-multiple">
//   <select class="select" name="" id="" placeholder="+ Add option" multiple="multiple">
//     <option>Option 1</option>
//     <option>Option 2</option>
//     <option>Option 3</option>
//     <option>Option 4</option>
//   </select>
// </div>
// 
// Example:
// <div class="selectWrapper">
//   <select class="select" name="" id="" placeholder="Option Groups">
//    <optgroup label="Available">
//       <option>Option 1</option>
//       <option>Option 2</option>
//       <option>Option 3</option>
//       <option>Option 4</option>
//     </optgroup>
//     <optgroup label="Assigned">
//       <option>Option 1</option>
//       <option>Option 2</option>
//       <option>Option 3</option>
//       <option>Option 4</option>
//     </optgroup>
//   </select>
// </div>
// 
// Example:
// <div class="selectWrapper-language">
//   <select name="" id="" class="select" data-language-options="popular any" placeholder="Select Language"></select>
// </div>
//
// Styleguide selects


.select {
  width: 100%;
}
.selectWrapper {
  position: relative;
  padding: 9px 10px 6px 10px;
}
.selectWrapper-border {
  position: relative;
  padding: 9px 10px 6px 10px;
  border-radius: 4px;
  border: 1px solid lighten($gray, 15%);
  // .select2-container--bootstrap.select2-container .select2-selection--single .select2-selection__rendered:after
  .select2-selection__rendered:after {
    content: "\e901";
    display: inline-block;
    margin-left: 5px;
    position: absolute;
    top: 0px; right: 0;
    font-family: 'amara' !important;
    speak: none;
    transform: rotate(90deg);
    @include transition();
    pointer-events: none;

  }
}
.selectWrapper-multiple {
  .select2-selection__rendered:after { display: none; }
}
.selectWrapper-language { }




