{% load i18n %}
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data">
        <button type="button" class="button-closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="dialogTitle">
          {% trans "Add Video" %}
        </div>
        <div class="modal-body">
          {% csrf_token %}
          {% include "future/non-field-errors.html" %}
          {% include "future/forms/field.html" with field=form.video_url %}
          {% include "future/forms/field.html" with field=form.language %}
          {% if form.fields.project.enabled %}
          {% include "future/forms/field.html" with field=form.project %}
          {% endif %}
        </div>
        <div class="modal-footer">
          <button class="button borderless" data-dismiss="modal">{% trans "Cancel" %}</button>
          <button class="button cta">{% trans "Add Video" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
