{% load i18n forms %}
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form class="ajaxForm" action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data">
      <button type="button" class="button-closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="dialogTitle">
        {% if single_selection %}
        <h4>{% blocktrans with title=first_video.title_display %}Deleting: {{ title }}{% endblocktrans %}</h4>
        {% else %}
        <h4>{% blocktrans count count=selection_count %}Deleting {{ count }} video{% plural %}Deleting {{ count }} videos{% endblocktrans %}</h4>
        {% endif %}
      </div>
      <div class="modal-body">
        {% csrf_token %}
        {% include "future/forms/non-field-errors.html" %}
        {% if form.delete %}
        {{ form.delete|render_field }}
        {% endif %}
      </div>
      <div class="modal-footer">
        <button class="button borderless" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button class="button cta">{% trans "Delete" %}</button>
      </div>
    </form>
  </div>
</div>
