{% load i18n forms %}
<div class="modal-dialog modal-md" role="document">
  <div class="modal-content">
    <form class="ajaxForm" action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data">
      <header class="dialogHeader">
        <h4 class="dialogTitle">{% blocktrans count count=selection_count %}Removing Video{% plural %}Removing Videos{% endblocktrans %}</h4>
        <h5 class="dialogSubTitle">
          {% if single_selection %}
          {{ first_video.title_display }}
          {% else %}
          {% blocktrans count count=selection_count %}{{ count }} video selected{% plural %}{{ count }} videos selected{% endblocktrans %}
          {% endif %}
        </h5>
      </header>
      <div class="modal-body">
        {% csrf_token %}
        {% include "future/forms/non-field-errors.html" %}
        {% if form.include_all %}
        {{ form.include_all|render_field }}
        {% endif  %}
        {% if form.delete %}
        <div class="form-group">
          <div class="radio">
            <input name="{{ form.delete.html_name }}" type="radio" value="" id="delete-modal-remove" checked>
            <label for="delete-modal-remove"><span></span> {% trans "Just remove from team" %} </label>
            <small><span class="help-block">{% trans "Removes the video(s) from team into the public area of Amara. All existing subtitles will remain on site and can be edited by any user." %}</span></small>
            <input name="{{ form.delete.html_name }}" type="radio" value="1" id="delete-modal-delete">
            <label for="delete-modal-delete"><span></span> {% trans "Delete entirely" %}</label>
            <small><span class="help-block">{% trans "Permanently deletes the video(s) and all associated subtitles and subtitle requests from Amara. Important: this action is irreversible, so use it with care." %}</span></small>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button class="button borderless" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button class="button cta">{% trans "Remove" %}</button>
      </div>
    </form>
  </div>
</div>
