
{% load i18n ui query_string %}

<nav class="tab-actions">
  <a {% if can_resync %}class="button small ajaxLink" href="{% query_string form=resync %}"{% else %}class="button small disabled"{% endif %}>Resync</a>
</nav>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Account" %}</th>
      <th>{% trans "Revision" %}</th>
      <th>{% trans "Result" %}</th>
      <th>{% trans "Details" %}</th>
    </tr>
    {% for item in sync_history %}
    <tr>
      <td>{{ item.date|elapsed_time }}</td>
      <td>{{ item.account }}</td>
      <td>{{ item.version }}</td>
      <td>{{ item.result }}</td>
      <td>{{ item.details }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
